{% if link.href %}
	<a href="{{ link.href }}"
	   class="link-action{% if link.class %} {{ link.class }}{% endif %}{% if link.theme %} link-action--{{ link.theme }}{% endif %}{% if link.theme %} link-action-{{ link.theme }}{% endif %}{% if link.disabled %} link-action--disabled{% endif %}"{% if link.attr %} {{ link.attr }}{% endif %}{% if link.title %} title="{{ link.title }}"{% endif %}>
		{% if link.text %}
			<span class="link-action__text text-body">{{ link.text }}</span>
		{% endif %}
	</a>
{% else %}
	<button type="{{ link.type?: 'button' }}"
			class="link-action{% if link.class %} {{ link.class }}{% endif %}{% if link.theme %} link-action--{{ link.theme }}{% endif %}{% if link.theme %} link-action--{{ link.theme }}{% endif %}"{% if link.attr %} {{ link.attr }}{% endif %}{% if link.title %} title="{{ link.title }}"{% endif %}{% if link.disabled %} disabled{% endif %}>
		{% if link.text %}
			<span class="link-action__text text-body">{{ link.text }}</span>
		{% endif %}
	</button>
{% endif %}


