<form {% if form.id %} id="{{ form.id }}"{% endif %}
	{% if form.name %} name="{{ form.name }}"{% endif %}
	{% if form.action %} action="{{ form.action }}"{% endif %}
	{% if form.method %} method="{{ form.method }}"{% endif %}
	class="form {% if form.layout %}form--layout-{{form.layout}}{% endif %} {% if form.mob_layout %} form--mob-layout {% endif %} {% if form.bg %} bg-{{ form.bg }}{% else %} bg-white{% endif %}"
	{% if form.attr %} {{ form.attr }}{% endif %}
	data-parsley-validate
	
>		
		{% if form.background %}
			<div class="form__background">
				{% view '@image-adaptive' with {
					image: form.background
				} %}
			</div>
		{% endif %}

		<div class="form__container container">
			<div class="form__wrapper">
					{% if form.title or form.text %}
						{% if form.title_hidden %}
							<h3 class="visually-hidden">{{block_info.title_hidden}}</h3>
						{% endif %}
						{% if hero.title %}
							<div class="form__title">
								{% for title in form.title %}
									<div class="form__title-line">{{ title }}</div>
								{% endfor %}
							</div>
						{% endif %}
						{% if form.text %}
							<p class="form__text">{{ form.text }}</p>
						{% endif %}
				
				{% endif %}
				<div class="form__content" data-fade-in-up>
					<div class="form__fields">
						{% for field in form.fields %}
							<div class="form__field{% if field.textarea %} form__field--fit{% endif %}" data-fade-in-up data-delay="{{ (0.2 + loop.index0 / 5)|round(2, 'floor') }}">
								{% view '@field' with {
									field: field
								} %}
							</div>
						{% endfor %}
					</div>
					{% if form.agreement %}
						<div class="form__agreement text-small">
							{{ form.agreement }}
						</div>
					{% endif %}
					{% if form.submit %}
						<div class="form__submit">
							{% view '@button' with {
								button: form.submit
							} %}
						</div>
					{% endif %}
			</div>
			<div class="form__answer" data-form-answer></div>
			</div>
		</div>
</form>
