{% set index = 0 %}

<header class="header {% if header.transparent %}header--transparent{% endif %}" role="banner"
		data-header
		data-animate-custom
>
	<div class="header__content" data-header-content>
		<div class="header__container container">
			<div class="header__logo">
				{% if header.logo.href %}
					<a href="{{ header.logo.href }}" class="header__logo-inner">
						{% view '@icon' with {
							icon: header.logo.icon
						} %}
					</a>
				{% else %}
					<span class="header__logo-inner">
					{% svg header.logo.icon %}
				</span>
				{% endif %}
			</div>

			{% if header.nav %}
				<div data-menu-nav class="header-nav">
					<div class="header-nav__wrap">
						<div class="header-nav__left">
							<div class="header-nav__navigate">
								{% for item in header.nav %}
								<div data-menu-nav-el
									data-index="{{ loop.index }}"
									class="header-nav__el {% if item.submenu %}header-nav__el--submenu{% endif %}">

									{% if item.href %}
										<a href="{{ item.href }}"
										class="header-nav__link
											{% if item.active %} active{% endif %}"
											{% if item.no_follow %} rel="nofollow"{% endif %}
										>
											<span class="header-nav__link-text">{{  item.text }}</span>
										</a>
									{% elseif item.submenu %}
										<button type="button"
													class="header-nav__link header-nav__link--submenu"{% if item.attr %} {{ item.attr }}{% endif %}>
												{{ item.text }}
												{% view '@icon' with {
													icon: {
														name: "16/dropdown",
														size: "16"
													}
												} %}
										</button>
											
										<div class="header-nav__submenu">
											<div class="header-nav__submenu-wrap">
												{% for link in item.submenu %}
													<a href={{link.text}} class="header-nav__submenu-link{% if link.active %} active{% endif %}">{{link.text}}</a>
												{% endfor %}
											</div>
										</div>
										
									{% else %}
										<span class="header-nav__link
											{% if item.active %} active{% endif %}">
												<span class="header-nav__link-text">{{  item.text }}</span>
										</span>
									{% endif %}
								</div>

								{% set index = loop.index %}
							{% endfor %}
							</div>
							

							{% if header.action %}
								<div class="header-nav__action">
									{% view "@button-icon" with {
										button: header.action
									} %}
								</div>
							{% endif %}
						</div>

						<div class="header__right">
							<div class="header__parts">
								{% if header.lang %}
									<div class="header__lang">
										{% view '@lang-toggle' with {
											toggle: header.lang
										} %}
									</div>
								{% endif %}
								{% if header.searchToggle %}
									<button type="button"
											class="header__search-toggle"{% if header.searchToggle.attr %} {{ header.searchToggle.attr }}{% endif %}>
										{% if header.searchToggle.icon %}
											{% view '@icon' with {
												icon: header.searchToggle.icon
											} %}
										{% else %}
											{% view '@icon' with {
												icon: {
													name: "24/search"
												}
											} %}
										{% endif %}
									</button>
								{% endif %}
							</div>
							
							<button type="button" data-menu-burger class="header__toggle not-active">
								<span></span>
								<span></span>
								<span></span>
							</button>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
		
	</div>
	{% if header.form %}
			<div class="header__search" data-header-search>
				{% if header.form %}
					<div class="header__form">
						{% view '&header-form' with {
							form: header.form
						} %}
					</div>
				{% endif %}
				{% if header.popular %}
					<div class="header__popular">
						{% view '^header-popular' with {
							popular: header.popular
						} %}
					</div>
				{% endif %}
			</div>
		{% endif %}
		<div class="header__result" data-header-search-result></div>
	
</header>
