<footer class="footer" role="contentinfo">
	<div class="footer__container container">
		{% if footer.base %}
			<div class="footer__base">
				{% if footer.base.logo %}
					<a {% if footer.base.logo.href %}href={{footer.base.logo.href}}{% endif %}>
						<span class="footer__logo">
							{% view '@icon' with {
								icon: footer.base.logo.icon
							} %}
						</span>
					</a>
				{% endif %}

				{% if footer.base.links %}
					<div class="footer__links">
						{% for link in footer.base.links %}
							<div class="footer__link">
								{% view "@link" with {
									link: link
								} %}
							</div>
						{% endfor %}
					</div>
				{% endif %}

				{% if footer.base.actions %}
					<div class="footer__actions">
						{% for action in footer.base.actions %}
							<div class="footer__action">
								{% view "@button-icon" with {
									button: action
								} %}
							</div>
						{% endfor %}
					</div>
				{% endif %}


				<div class="footer__handler">
					<div class="footer__comp">
					</div>
					<div class="footer__comp">
					</div>
				</div>
			</div>
		{% endif %}
		
		{% if footer.bottom %}
			<div class="footer__bottom text-small">
				{% if footer.bottom.copy %}
					<div class="footer__bottom-copy">
						{{footer.bottom.copy}}
					</div>
				{% endif %}

				{% if footer.bottom.company %}
					<div class="footer__bottom-company">
						<a class="link" href={{footer.bottom.company.href}}>
							{{footer.bottom.company.text}}
						</a>
					</div>
				{% endif %}

				
				{% if footer.creator %}
					<a href="{{ footer.creator.href }}" class="footer__creator text-small" target="_blank"
					   rel="nofollow">{{ footer.creator.text }}

					   <div class="footer__bottom-logo">
							{% if footer.creator.logo %}
								{% view '@icon' with {
									icon: footer.creator.icon
								} %}
							{% else %}
								{% view '@icon' with {
									icon: {
										name: "logos/uplab",
										size: "fit"
									}
								} %}
							{% endif %}
						</div>
					</a>
				{% endif %}
				
				
			</div>
		{% endif %}
	</div>
</footer>
