<footer class="footer" role="contentinfo">
	<div class="footer__container container">
		{% if footer.base %}
			<div class="footer__base">
				{% if footer.base.logo %}
					<a {% if footer.base.logo.href %}href={{footer.base.logo.href}}{% endif %}>
						<span class="footer__logo">
							{% view '@icon' with {
								icon: footer.base.logo.icon
							} %}
						</span>
					</a>
				{% endif %}

				{% if footer.base.links %}
					<div class="footer__links">
						{% for link in footer.base.links %}
							<div  class="footer__el {% if link.submenu %}footer__el--submenu{% endif %}">
								{% if link.href %}
									<a href={{link.href}} class="footer__link{% if link.active %} active{% endif %}">
										{{link.text}}
									</a>
								{% elseif link.submenu %}
										<button type="button"
														class="footer__link footer__link--submenu"{% if item.attr %} {{ item.attr }}{% endif %}>
											{{ link.text }}
											{% view '@icon' with {
												icon: {
													name: "16/dropdown",
													size: "16"
												}
											} %}
										</button>	 
										<div class="footer__submenu">
											<div class="footer__submenu-wrap">
												{% for link in link.submenu %}
													<a href={{link.text}} class="footer__submenu-link{% if link.active %} active{% endif %}">{{link.text}}</a>
												{% endfor %}
											</div>
										</div>
								{% else %}
									<span class="header-nav__link
										{% if item.active %} active{% endif %}">
											<span class="header-nav__link-text">{{  item.text }}</span>
									</span>
								{% endif %}
							</div>
							{# <>
							{% if link.href %}
								<div class="footer__link">
									{% view "@link" with {
										link: link
									} %}
								</div>
							{% elseif link.submenu %}
								<div class="footer__link footer__link--submenu">
									{% view "@link" with {
										link: link
									} %}
								</div>
							{% else %}
							{% endif %} #}
						{% endfor %}
					</div>
				{% endif %}

				

				{% if footer.base.actions %}
					<div class="footer__actions">
						{% for action in footer.base.actions %}
							<div class="footer__action">
								{% view "@button-icon" with {
									button: action
								} %}
							</div>
						{% endfor %}
					</div>
				{% endif %}


				<div class="footer__handler">
					{% if footer.base.lang %}
						<div class="footer__lang">
							{% view '@lang-toggle' with {
								toggle: footer.base.lang
							} %}
						</div>
					{% endif %}
					{% if footer.base.searchToggle %}
						<button type="button"
								class="footer__search-toggle"{% if footer.base.searchToggle.attr %} {{ footer.base.searchToggle.attr }}{% endif %}>
							{% if footer.base.searchToggle.icon %}
								{% view '@icon' with {
									icon: footer.base.searchToggle.icon
								} %}
							{% else %}
								{% view '@icon' with {
									icon: {
										name: "24/search"
									}
								} %}
							{% endif %}
						</button>
					{% endif %}
				</div>
			</div>
		{% endif %}
		
		{% if footer.bottom %}
			<div class="footer__bottom text-small">
				{% if footer.bottom.copy %}
					<div class="footer__bottom-copy">
						{{footer.bottom.copy}}
					</div>
				{% endif %}

				{% if footer.bottom.company %}
					<div class="footer__bottom-company">
						<a class="link" href={{footer.bottom.company.href}}>
							{{footer.bottom.company.text}}
						</a>
					</div>
				{% endif %}

				
				{% if footer.creator %}
					<a href="{{ footer.creator.href }}" class="footer__creator text-small" target="_blank"
					   rel="nofollow">{{ footer.creator.text }}

					   <div class="footer__bottom-logo">
							{% if footer.creator.logo %}
								{% view '@icon' with {
									icon: footer.creator.icon
								} %}
							{% else %}
								{% view '@icon' with {
									icon: {
										name: "logos/uplab",
										size: "fit"
									}
								} %}
							{% endif %}
						</div>
					</a>
				{% endif %}
				
				
			</div>
		{% endif %}
	</div>
</footer>
