<div class="block-info{% if block_info.layout %} block-info--layout-{{block_info.layout}} {% endif %}">
    <div class="block-info__container container ">   
        
        <div class="block-info__content">
            {% if block_info.title_hidden %}
                <h3 class="visually-hidden">{{block_info.title_hidden}}</h3>
            {% endif %}
            {% if block_info.label %}
                <div class="block-info__label text-label">
                    {{block_info.label}}
                </div>
            {% endif %}
            {% if block_info.title %}
                <div class="block-info__title">
                    {% for title in block_info.title %}
                        <div class="block-info__title-line">{{ title }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="user-text block-info__desc">
					{{block_info.desc}}
            </div>
            {% if block_info.action %}
                <div class="block-info__action">
                    {% view '@button-icon' with {
                        button: block_info.action
                    } %}
                </div>
            {% endif %}
            {% if block_info.background %}
                <div class="block-info__background">
                    {% view '@image-adaptive' with {
                        image: block_info.background
                    } %}
                </div>
            {% endif %}
        </div>
    </div>
</div>